.task  {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.25rem;
    font-size: 1rem;
    gap: 0.5rem;
}

.task:hover {
    cursor: pointer;
    background-color: darkgrey;
    border-radius: 0.5rem;
}



