.todo {
    display: flex;
    align-items: center;
    max-height: 42rem;
    margin-bottom: 0.7rem;
    padding: 0.25rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
}

.todoContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}