.task:hover {
    cursor: pointer;
    background-color: darkgrey;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.TitleBtn {
    padding-top:0.25rem;
    padding-bottom:0.25rem;
    padding-left:0.5rem;
    margin-bottom: 5rem;
}
