.card {
    width: 17rem;
    height: 17rem;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.personal {
    background-color: rgb(255, 183, 170);
}

.work {
    background-color: rgb(192, 255, 193);
}
.etc {
    background-color: rgb(251, 234, 177);
}

.add {
    background-color: rgb(234, 234, 234);
}

.add img {
    width: 5rem;
    height: 5rem;
    position: relative;
    top: 35%;
    left: 35%;
}

.add:hover {
    cursor: pointer;
    background-color: darkgrey;
    border-radius: 0.5rem;
}

.close {
    position: relative;
    left: 45%;
    width: 1rem;
    height: 1rem;
}

.close:hover{
    cursor: pointer;
    opacity: 0.7;
}

.upcoming, .completed {
    width: 1.25rem;
    height: 1.25rem;
}

.upcoming:hover, .completed:hover{
    cursor: pointer;
    opacity: 0.7;
}

.activity {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: auto;
    gap: 0.25rem;
}