.container {
  display: grid;
  grid-template-columns: 1.8fr 5fr;
  grid-template-rows: 1fr;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 60rem;
  border-radius: 1rem;
}